.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h1
xft-config
xft.pc
*~
*.o
*.la
*.lo
*.1
*.3
libXft-*.tar.*
ChangeLog
tags
include/X11/Xft/Xft.h
